.zrx-password {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-width: 64px;
    min-height: 24px;
    &.hidden {
        .s-text {
            line-height: 28px;
            letter-spacing: 1px;
        }
    }
    > .placeholder {
        flex: 1 1 auto;
        visibility: hidden;
    }
    > .btn {
        flex: 0 1 24px;
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }
    .s-text {
        position: absolute;
        top: 0;
        right: 32px;
        bottom: 0;
        left: 0;
        line-height: 24px;
        z-index: 1;
        @include ellipsis;
    }
}
