.zrx-tab-content {
    &.scroll {
        overflow-x: hidden;
        overflow-y: visible;
        > .scroller {
            display: flex;
            width: 100%;
            margin-left: calc(var(--shift) * -100%);
            transition: margin-left 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            > * {
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }
    &:not([stretch]) {
        .scroller {
            align-items: flex-start;
            height: 100%;
        }
    }
    &[stretch] {
        display: flex;
        align-items: stretch;
        width: 100%;
        > .scroller {
            display: flex;
            align-items: stretch;
        }
    }
}
