@font-face {
    font-family: "Microsoft YaHei Bold";
    src: url("../../assets/font/Microsoft YaHei Bold.ttf");
}
html,
body,
input,
button,
textarea {
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        sans-serif;
    color: $--text-color;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
ul,
li,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
lengend,
button,
input,
select,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
li,
ul,
ol,
span,
i,
textarea,
input,
a,
button,
em,
table,
form,
label {
    box-sizing: border-box;
}
*:focus,
a:focus {
    outline: none;
}
a,
a:focus,
a:hover,
a:active {
    color: $--text-color;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}
a {
    transition: none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-weight: normal;
    line-height: 1;
    color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}
b,
i,
em {
    font-weight: normal;
    font-style: normal;
}
ul,
ol {
    list-style: none;
}
fieldset,
img {
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea {
    border-width: 0;
    font-size: 1em;
    resize: none !important;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="number"] {
    -webkit-appearance: none;
}
button {
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
    &[disabled] {
        color: $disabled;
        background-color: $background;
        &:hover {
            cursor: not-allowed;
        }
    }
    &.btn {
        border: 0;
    }
}
// 占位符字体
input,
textarea,
input.el-input__inner,
textarea.el-textarea__inner,
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
    &::placeholder {
        font-family: "Microsoft YaHei";
        color: $--placeholder;
    }
}
// 滚动条样式
html {
    @include scrollbar;

    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: transparent;
    }
    // 轨道
    ::-webkit-scrollbar-track {
        background-color: transparent;
        &:hover {
            background-color: $--scroll-track-color;
        }
    }
}
// 滚动条滑块
::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 100px;
    background-color: $--default-scroll-color;
    background-clip: padding-box;
    &:hover {
        border: 2px solid transparent;
        cursor: pointer;
    }
    &:active {
        background-color: $--click-scroll-color;
    }
}

// element
.el-popper[x-placement^="bottom"] {
    margin-top: 4px !important;
}
.el-popper[x-placement^="top"] {
    margin-bottom: 4px !important;
}
.v-modal {
    opacity: 1;
}
.el-dropdown {
    color: $--text-dim;
}
